[run]
omit =
    test_*.py
    *_test.py
    tests/*
    venv/*
    .venv/*
    __pycache__/*
    setup.py
    ci_test_runner.py
    pre_commit_hook.py
    __main__.py
    breaking_change_monitor.py
    install.py
    vscode_bridge.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == '__main__':
    class .*\bProtocol\):
    @(abc\.)?abstractmethod

precision = 2
show_missing = True
skip_covered = False
